AMAZON_USE_MOCK=true
AMAZON_ACCESS_KEY=
AMAZON_SECRET_KEY=
AMAZON_ASSOCIATE_TAG=
AMAZON_REGION=eu-west-1
AMAZON_HOST=webservices.amazon.it
AMAZON_MARKETPLACE=www.amazon.it
SCAN_INTERVAL_SECONDS=1800
MIN_DISCOUNT_PERCENT=35
